.idea
.coursor
.vscode
.opengcv_gocache_cleared

# opencv 打包输出（由 opencv/package_go_opencv.ps1 生成）
/opencv/windows/*

# power_monitor 打包输出（由 power_monitor/package_power_monitor.ps1 生成）
/power_monitor/windows/*

/file/*

# 所有 .exe 文件
*.exe

# 编译输出目录
bin/
obj/
dist/
build/
out/

# Go 编译输出
*.test
*.test.exe
*.prof
*.prof.exe
